{% extends 'layout.html' %}

{% block title %}
    Productos
{% endblock title %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="display-6 fw-bold text-center">Poductos aqui</h1>
                <form action="{% url 'tareas:create_product' %}" method="POST" enctype="multipart/form-data" class="card card-body bg-dark-subtle">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Nombre del producto" class="form-control mb-2">
                    <textarea name="description" rows="5" placeholder="Escribe aqui la descripcion" class="form-control mb-2"></textarea>
                    <input type="numbre" name="price" placeholder="precio del producto" class="form-control mb-2">
                    <input type="file" name="image" class="text-black">
                    <button class="btn btn-success mt-2">Guardar</button>
                </form>

                
                {% for producto in productos %}
                    <div class="card card-body text-black mt-2">
                        <img src="{{ producto.image.url }}" alt="{{ producto.name }}" class="card-img-top">
                        <div class="card-body bg-success">
                            <h2 class="card-title">{{ producto.name }}</h2>
                            <p class="card-text">{{ producto.description }}</p>
                            <p class="card-text fw-bold">Price: {{ producto.price }}</p>
                        </div>
                        <div class="card-footer text-end">
                            <form action="{% url 'tareas:delete_product' producto.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-info mt-2">Ningún producto registrado</div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock content %}